body {
    font-family: Arial, sans-serif;
    background-color: #1b2838;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171a21;
    padding: 15px;
}

nav ul a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.profile-info {
    display: grid;
    grid-template-columns: 150px auto;
    gap: 20px;
    padding: 20px;
}

.avatar {
    width: 150px;
}

.info {
    background-color:#171a21;
}

.recent {
    padding: 20px;
}

.recent ul {
    list-style: none;
    padding: 0;
}

.recent li {
    display: flex;
    align-items: center;
    background-color: #2a475e;
    margin: 5px 0;
    padding: 10px;
}

.recent img {
    width: 230px;
    margin-right: 20px;
}

.status {
    padding: 20px;
    text-align: center;
}

.online {
    color: green;
    font-weight: bold;
}

:hover {
    
}




