* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 1 1 33%;
    min-height: 150px;
}